*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-cardapio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(20, 20, 20, 0.7)), url(../../assets/Fundo-Cardápio-Pizza-escuro1.jpg);
    background-position: center, center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container-geral-cardapio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 8rem;
}
.containergeral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.titulo-container{
    font-size: 3rem;
    margin-bottom: 4rem;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: white;
}
.cardapio{
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.titulo-tradicional{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgb(251, 255, 0);
    height: 100px;
    padding: 0 80px;
}
.titulo-geral-tradicional{
    font-size: 1.7rem;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
}
.pizzas-tradicionais{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
}
.lista-pizzas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 100%;
}
.valores{
    display: flex;
    justify-content:space-between;
}
.titulo-pizza-tradicional{
    font-size: 1.4rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
}
.sabores-texto{
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
}
.btns{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btns button{
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}
.btns button:hover{
    color: rgb(251, 255, 0);
    border: 1px solid rgb(251, 255, 0);
}
.btns button::before{
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}
.btns button:hover:before{
    width: 100%;
}
.btn-exp{
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
}






.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    color: rgb(251, 255, 0);
    background-color: rgba(22, 22, 22, 0.8);
}
.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 200px;
    gap: 30px;
}
.pizzaria{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid rgb(86, 86, 86);
    padding: 0 40px;
    margin-left: -90px;
}
.logo {
    font-size: 1.4rem;
    letter-spacing: 0.4rem;
    margin-bottom: 10px;
  }
.enderecos{
    margin-bottom: 5px;
}

.redes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.icons-icons{
    width: 25px;
    height: 25px;
}
a{
    color: rgb(251, 255, 0);
}