* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-geral-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(20, 20, 20, 0.7)), url(../../assets/deliciosa-pizza-na-tabua-de-madeira-e-ketchup-de-pimenta-na-superficie-escura-isolada-em-close-up-tiro2.jpg);
    background-position: center, center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.container-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .container-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.container-contato {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 100px;
}

@media screen and (max-width: 2400px) {
    .container-contato {
        margin-top: 3.7rem;
    }
}

@media screen and (max-width: 1000px) {
    .container-contato {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 10rem;
    }
}

.contato-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 22, 22, 0.5);
    width: 50%;
    margin-top: 3rem;
    border-radius: 20px;
}


@media screen and (max-width: 1000px) {
    .contato-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(22, 22, 22, 0.5);
        width: 30rem;
        margin-top: 3rem;
        border-radius: 20px;
    }
}
@media screen and (max-width: 530px) {
    .contato-1 {
       width: 90%;
    }
    
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
}

.titulo-tradicional {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    margin-top: 30px;
}

.titulo-geral-tradicional {
    font-size: 1.6rem;
    color: rgb(165, 165, 165);
    font-family: 'Indie Flower', cursive;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 70%;
    border-radius: 20px;
    padding: 30px 0;
}

.nome {
    font-size: 1.4rem;
    color: white;
    font-family: 'Indie Flower', cursive;
    margin-top: 20px;
}

input {
    border-radius: 10px;
    outline: none;
    font-size: 1.2rem;
    padding: 2px 8px;
    border: 1px solid rgb(221, 219, 219);
    width: 100%;
    height: 40px;
}
textarea {
    border: 1px solid rgb(221, 219, 219);
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 2px 8px;
    outline: none;
    width: 100%;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover {
    color: rgb(251, 255, 0);
    border: 1px solid rgb(251, 255, 0);
}

.btns button::before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

.btns button:hover:before {
    width: 100%;
}

.btn-exp {
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
}



.container-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 500px;
    margin-top: 3rem;
    border-radius: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 400px;
}

.titulo-geral-tradicional-1 {
    font-size: white;
    font-family: 'Indie Flower', cursive;
}

.botao-whats {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid white;
    transition: 1.5s;
    margin-top: 40px;
}

.botao-whats:hover a{
    color: rgb(251, 255, 0);
    border: 1px solid rgb(251, 255, 0);
    text-decoration: none;
}

.link-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 50px;
    z-index: 100;
    border-radius: 20px;
    gap: 10px;
    cursor: pointer;
}

.icons-1 {
    width: 25px;
    height: 25px;
    color: white;
    transition: 1.5s;
}

.icons-1:hover {
    color: rgb(251, 255, 0);
}

.botao-link {
    background: transparent;
    outline: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
    color: white;
    transition: 1.5s;
}

.botao-link:hover {
    color: rgb(251, 255, 0);
}

.ligar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.ligue {
    font-size: 1.8rem;
    color: white;
    font-family: 'Indie Flower', cursive;
}

.tell {
    font-family: 'Indie Flower', cursive;
    font-size: 1.8rem;
    color: white;
}






.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    color: rgb(251, 255, 0);
    background-color: rgba(22, 22, 22, 0.8);
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 200px;
    gap: 30px;
}

.pizzaria {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid rgb(86, 86, 86);
    padding: 0 40px;
    margin-left: -90px;
}

.logo {
    font-size: 1.4rem;
    letter-spacing: 0.4rem;
    margin-bottom: 10px;
}

.enderecos {
    margin-bottom: 5px;
}

.redes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.icons-icons {
    width: 25px;
    height: 25px;
}

a {
    color: rgb(251, 255, 0);
}